# Project: Wrangling and Analyze Data

In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [2]:
# Read in the file into a DataFrame
df_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
# Display the first few records of the DataFrame
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [4]:
# Use the get method to request for the data from the url
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)

In [5]:
# Save to a file
with open(url.split('/')[-1], mode='wb') as file:
    file.write(response.content)

In [6]:
# Read file into a DataFrame and view first few records
df_predictions = pd.read_csv('image-predictions.tsv', sep="\t")
df_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [7]:
# Using tweetpy create an API object to gather Tweeter data
consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

In [8]:
# Get Tweet IDs from the archive DataFrame
tweet_ids = df_archive.tweet_id.values

In [9]:
# Using the API Object to get tweets from Twitter API
#with open('tweet_json.txt', 'w') as file:
#    for tweet_id in tweet_ids:
#        try:
#            tweet_json = api.get_status(tweet_id, tweet_mood='extended')
        
#            json_data = json.dumps(tweet_json._json)
#           file.write(json_data)
#            file.write('\n')
#        except:
#            pass

In [10]:
# Create a list that will be converted to DataFrame
df_list = []
with open('tweet_json.txt', encoding='utf-8') as file:
    for line in file:
        tweet = json.loads(line)
        tweet_id = tweet['id']
        retweet_count = tweet['retweet_count']
        favorite_count = tweet['favorite_count']
        df_list.append({'tweet_id': tweet_id,
                        'retweet_count': retweet_count,
                        'favorite_count': favorite_count
                       })
df_api = pd.DataFrame(df_list, columns=['tweet_id','retweet_count','favorite_count'])

In [11]:
# Display the first few records of the DataFrame
df_api.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           6996           33771
1  892177421306343426           5297           29295
2  891815181378084864           3476           22029
3  891689557279858688           7210           36864
4  891327558926688256           7750           35249

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

### Assessing archive DataFrame for quality issues

In [12]:
# View the dimensionality of the DataFrame
df_archive.shape

(2356, 17)

In [13]:
# Get the first few rows of the DataFrame
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [14]:
# Get concise summary of DataFrame
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

> From the summary report, there are errorneous data type (`tweet_id`, `timestamp`, `retweeted_status_timestamp`), retweeted records, missing expanded url (no images) records, x. These will be documented.

In [15]:
# Investigating further for null records in the `expanded_urls` column. 
# These are tweets with no images.
sum(df_archive['expanded_urls'].isnull())

59

> There are tweet with no images.

In [16]:
# Since expanded_urls are urls of the tweet images, having more than one record would mean duplicate records
# Checking for duplicate records using the expanded_urls column
df_archive[df_archive['expanded_urls'].duplicated()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
75,878281511006478336,NaN,NaN,2017-06-23 16:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Shadow. In an attempt to reach maximum zo...,NaN,NaN,NaN,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,None,None,None,None
76,878057613040115712,NaN,NaN,2017-06-23 01:10:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Emmy. She was adopted today. Massive r...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,None,None,None,None
98,873213775632977920,NaN,NaN,2017-06-09 16:22:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sierra. She's one precious pupper. Abs...,NaN,NaN,NaN,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,None,None,pupper,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
126,868552278524837888,NaN,NaN,2017-05-27 19:39:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Cooper. His expression is the sam...,NaN,NaN,NaN,"https://www.gofundme.com/3ti3nps,https://twitt...",12,10,Cooper,None,None,None,None
135,866450705531457537,NaN,NaN,2017-05-22 00:28:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jamesy. He gives a kiss to every other...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/866450705...,13,10,Jamesy,None,None,pupper,None
136,866334964761202691,NaN,NaN,2017-05-21 16:48:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Coco. At first I thought she was a clo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/866334964...,12,10,Coco,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
150,863062471531167744,NaN,NaN,2017-05-12 16:05:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Quinn. She's quite the goofball. ...,NaN,NaN,NaN,"https://www.gofundme.com/helpquinny,https://tw...",13,10,Quinn,None,None,None,None
161,860563773140209665,NaN,NaN,2017-05-05 18:36:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Lorenzo. He's an avid nifty hat wearer an...,NaN,NaN,NaN,https://www.gofundme.com/help-lorenzo-beat-can...,13,10,Lorenzo,None,None,None,None
169,859196978902773760,NaN,NaN,2017-05-02 00:04:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. This is quite clearly a smo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/859196978...,12,10,quite,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,8.563302e+17,66699013.0,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
253,844704788403113984,NaN,NaN,2017-03-23 00:18:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Luna. It's her first time outside and ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/844704788...,13,10,Luna,None,None,None,None
264,842163532590374912,NaN,NaN,2017-03-16 00:00:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet George. He looks slightly deflated but ov...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/842163532...,12,10,George,None,None,None,None
271,841077006473256960,NaN,NaN,2017-03-13 00:02:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Dawn. She's just checking pup on you. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/841077006...,12,10,Dawn,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
276,840632337062862849,NaN,NaN,2017-03-11 18:35:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Maddie and Gunner. They are consi...,NaN,NaN,NaN,"https://www.gofundme.com/3hgsuu0,https://twitt...",12,10,Maddie,None,None,None,None
280,839549326359670784,NaN,NaN,2017-03-08 18:52:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Winston. He knows he's a little too big f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/839549326...,12,10,Winston,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
293,837820167694528512,NaN,NaN,2017-03-04 00:21:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Here's a pupper before and after being asked ""...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/837820167...,12,10,None,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1655,683391852557561860,NaN,NaN,2016-01-02 20:58:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Say hello to Jack (pronounced ""Kevin""). He's a...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/683391852...,11,10,Jack,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1683,681694085539872773,NaN,NaN,2015-12-29 04:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He's a Benedoop Cumbersnatch. Seem...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/681694085...,11,10,Bo,None,None,pupper,None
1688,681523177663676416,NaN,NaN,2015-12-28 17:12:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Carly. She's actually 2 dogs fused tog...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/681523177...,12,10,Carly,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1726,680055455951884288,NaN,NaN,2015-12-24 16:00:30 +0000,"<a href=""https://about.twitter.com/products/tw...","Meet Sammy. At first I was like ""that's a snow...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/680055455...,10,10,Sammy,None,None,None,None
1742,679462823135686656,NaN,NaN,2015-12-23 00:45:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Hurley. He's the curly one. He hugs every...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679462823...,11,10,Hurley,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1806,676936541936185344,NaN,NaN,2015-12-16 01:27:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we see a rare pouched pupper. Ample stora...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676936541...,8,10,None,None,None,pupper,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
1970,673295268553605120,NaN,NaN,2015-12-06 00:17:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Eve. She's a raging alcoholic 8/10 (would...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673295268...,8,10,Eve,None,None,pupper,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2180,669000397445533696,NaN,NaN,2015-11-24 03:51:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Terrance. He's being yelled at because he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669000397...,11,10,Terrance,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2212,668587383441514497,NaN,NaN,2015-11-23 00:30:28 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Never forget this vine. You will not stop watc...,NaN,NaN,NaN,https://vine.co/v/ea0OwvPTx9l,13,10,the,None,None,None,None
2248,667866724293877760,NaN,NaN,2015-11-21 00:46:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Shaggy. He knows exactly how to solve ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,None,None,None,None
2286,667182792070062081,NaN,NaN,2015-11-19 03:29:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Timison. He just told an awful joke bu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667182792...,10,10,Timison,None,None,None,None
2293,667152164079423490,NaN,NaN,2015-11-19 01:27:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pipsy. He is a fluffball. Enjoys trave...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667152164...,12,10,Pipsy,None,None,None,None
2294,667138269671505920,NaN,NaN,2015-11-19 00:32:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Extremely intelligent dog here. Has learned to...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667138269...,10,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None

> Investigating further to confirm for duplicate records in the `expanded_urls` column

In [17]:
# View all the content of the expanded url column for a particular tweet_id (case 1)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 667182792070062081]['expanded_urls'])

2286    https://twitter.com/dog_rates/status/667182792070062081/photo/1
Name: expanded_urls, dtype: object

In [18]:
# Conditionally select the record associated with this expanded url
df_archive[df_archive.expanded_urls == 'https://twitter.com/dog_rates/status/667182792070062081/photo/1']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
604,798585098161549313,NaN,NaN,2016-11-15 17:54:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Timison. He just told a...,6.671828e+17,4.196984e+09,2015-11-19 03:29:07 +0000,https://twitter.com/dog_rates/status/667182792...,10,10,Timison,None,None,None,None
2286,667182792070062081,NaN,NaN,2015-11-19 03:29:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Timison. He just told an awful joke bu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667182792...,10,10,Timison,None,None,None,None

In [19]:
# View all the content of the expanded url column for a particular tweet_id (case 2)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 839549326359670784]['expanded_urls'])

280    https://twitter.com/dog_rates/status/839549326359670784/photo/1
Name: expanded_urls, dtype: object

In [20]:
# Conditionally select the record associated with this expanded url
df_archive[df_archive.expanded_urls == 'https://twitter.com/dog_rates/status/839549326359670784/photo/1']

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
171,858860390427611136,NaN,NaN,2017-05-01 01:47:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Winston. He knows he's a l...,8.395493e+17,4.196984e+09,2017-03-08 18:52:12 +0000,https://twitter.com/dog_rates/status/839549326...,12,10,Winston,None,None,None,None
280,839549326359670784,NaN,NaN,2017-03-08 18:52:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Winston. He knows he's a little too big f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/839549326...,12,10,Winston,None,None,None,None

In [21]:
# View all the content of the expanded url column for a particular tweet_id (case 3)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 873213775632977920]['expanded_urls'])

98    https://www.gofundme.com/help-my-baby-sierra-get-better,https://twitter.com/dog_rates/status/873213775632977920/photo/1,https://twitter.com/dog_rates/status/873213775632977920/photo/1
Name: expanded_urls, dtype: object

In [22]:
# Conditionally select the record associated with this expanded url
url = 'https://www.gofundme.com/help-my-baby-sierra-get-better,https://twitter.com/dog_rates/status/873213775632977920/photo/1,https://twitter.com/dog_rates/status/873213775632977920/photo/1'
df_archive[df_archive.expanded_urls == url]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
97,873337748698140672,NaN,NaN,2017-06-10 00:35:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Sierra. She's one preci...,8.732138e+17,4.196984e+09,2017-06-09 16:22:42 +0000,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,None,None,pupper,None
98,873213775632977920,NaN,NaN,2017-06-09 16:22:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sierra. She's one precious pupper. Abs...,NaN,NaN,NaN,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,None,None,pupper,None

> From the three further investigations above, we can see that these records are the same but one is actually a retweet of the other. So removing the retweet would solve this duplicate issue. This also confirm that there are retweets.

In [23]:
# Selecting a random sample of records
# Horning into the last 5 columns only
df_archive.iloc[:, -5:].sample(5)

        name doggo floofer pupper puppo
1131    Puff  None    None   None  None
537     None  None    None   None  None
283     None  None    None   None  None
832   Oakley  None    None   None  None
653    Remus  None    None   None  None

> From the above, we see misrepresentation of missing values in the (dog name and dog stages) columns as None. There are also dog names with single letters and lowercase letters.

In [24]:
# Futher investigation of the name column.
# Select names that are all lowercase letters
lc_names = df_archive[df_archive.name.str.islower()]
lc_names.loc[:, ['tweet_id','text','name']].sample(5)

,tweet_id,text,name
2204,668636665813057536,This is an Irish Rigatoni terrier named Berta....,an
1815,676613908052996102,This is the saddest/sweetest/best picture I've...,the
1877,675109292475830276,C'mon guys. We've been over this. We only rate...,a
335,832645525019123713,There's going to be a dog terminal at JFK Airp...,not
801,772581559778025472,Guys this is getting so out of hand. We only r...,a

> It seem names that are lowercase letters are errors. Since the project details state that the name column was extracted from the text column, then investigsting more on the name column by comparing corresponding text column would be a wise course.

In [25]:
# View all the content of the text column for a particular tweet_id (case 1)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 668587383441514497]['text'])

2212    Never forget this vine. You will not stop watching for at least 15 minutes. This is the second coveted.. 13/10 https://t.co/roqIxCvEB3
Name: text, dtype: object

In [26]:
# Check the value in the name column for the same tweet_id
df_archive[df_archive['tweet_id'] == 668587383441514497]['name']

2212    the
Name: name, dtype: object

In [27]:
# View all the content of the text column for a particular tweet_id (case 2)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 666411507551481857]['text'])

2326    This is quite the dog. Gets really excited when not in water. Not very soft tho. Bad at fetch. Can't do tricks. 2/10 https://t.co/aMCTNWO94t
Name: text, dtype: object

In [28]:
# Check the value in the name column for the same tweet_id
df_archive[df_archive['tweet_id'] == 666411507551481857]['name']

2326    quite
Name: name, dtype: object

In [29]:
# View all the content of the text column for a particular tweet_id (case 3)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 666050758794694657]['text'])

2350    This is a truly beautiful English Wilson Staff retriever. Has a nice phone. Privileged. 10/10 would trade lives with https://t.co/fvIbQfHjIe
Name: text, dtype: object

In [30]:
# Check the value in the name column for the same tweet_id
df_archive[df_archive['tweet_id'] == 666050758794694657]['name']

2350    a
Name: name, dtype: object

> From the three further investigation, we can see that the algorithm used to extract the names made few mistakes. It seems after a few checks that all the lowercase names are erroneous.

In [224]:
# View all the content of the text column for a particular tweet_id (case 3)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 699072405256409088]['text'])

1408    ERMAHGERD 12/10 please enjoy https://t.co/7WrAWKdBac
Name: text, dtype: object

In [225]:
# View all the content of the text column for a particular tweet_id (case 3)
with pd.option_context("display.max_colwidth", -1):
    print(df_archive[df_archive['tweet_id'] == 838952994649550848]['text'])

283    SHE MISPLACED HER HOOMAN 13/10 MISTAKES HAPPEN https://t.co/ngAxYLVYHP
Name: text, dtype: object

> There are some records with uppercase values in the text column

In [31]:
# Investigating for records beyond August 1st, 2017
len(df_archive[df_archive['timestamp'] > '2017-08-01'])

2

> There are records beyound August 1st, 2017

### Accessing predictions DataFrame for quality issues

In [32]:
# View the dimensionality of the DataFrame
df_predictions.shape

(2075, 12)

In [33]:
# Get the first few rows of the DataFrame
df_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [34]:
# Get concise summary of the DataFrame
df_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

> The tweet id column has int64 data type while it will never be used to perform any calculation, thus incorrect data type issue

In [35]:
# Get descriptive statistics of the DataFrame
df_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

> The maximum value and the minimum value for the `img_num` column seems to be very close. Let's investigate further into that column

In [36]:
# Count unique records
df_predictions.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [37]:
# Confirm the unique records
df_predictions.img_num.unique()

array([1, 4, 2, 3])

> There are only a limited number of values in the `img_num` column, thus a more fitting data type should be choosen.

In [38]:
# Checking for duplicate records
df_predictions[df_predictions.jpg_url.duplicated()]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1297,752309394570878976,https://pbs.twimg.com/ext_tw_video_thumb/67535...,1,upright,0.303415,False,golden_retriever,0.181351,True,Brittany_spaniel,0.162084,True
1315,754874841593970688,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,pug,0.272205,True,bull_mastiff,0.251530,True,bath_towel,0.116806,False
1333,757729163776290825,https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg,2,cash_machine,0.802333,False,schipperke,0.045519,True,German_shepherd,0.023353,True
1345,759159934323924993,https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg,1,Irish_terrier,0.254856,True,briard,0.227716,True,soft-coated_wheaten_terrier,0.223263,True
1349,759566828574212096,https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg,1,Labrador_retriever,0.967397,True,golden_retriever,0.016641,True,ice_bear,0.014858,False
1364,761371037149827077,https://pbs.twimg.com/tweet_video_thumb/CeBym7...,1,brown_bear,0.713293,False,Indian_elephant,0.172844,False,water_buffalo,0.038902,False
1368,761750502866649088,https://pbs.twimg.com/media/CYLDikFWEAAIy1y.jpg,1,golden_retriever,0.586937,True,Labrador_retriever,0.398260,True,kuvasz,0.005410,True
1387,766078092750233600,https://pbs.twimg.com/media/ChK1tdBWwAQ1flD.jpg,1,toy_poodle,0.420463,True,miniature_poodle,0.132640,True,Chesapeake_Bay_retriever,0.121523,True
1407,770093767776997377,https://pbs.twimg.com/media/CkjMx99UoAM2B1a.jpg,1,golden_retriever,0.843799,True,Labrador_retriever,0.052956,True,kelpie,0.035711,True
1417,771171053431250945,https://pbs.twimg.com/media/CVgdFjNWEAAxmbq.jpg,3,Samoyed,0.978833,True,Pomeranian,0.012763,True,Eskimo_dog,0.001853,True
1427,772615324260794368,https://pbs.twimg.com/media/Cp6db4-XYAAMmqL.jpg,1,dalmatian,0.556595,True,whippet,0.151047,True,American_Staffordshire_terrier,0.096435,True
1446,775898661951791106,https://pbs.twimg.com/media/CiyHLocU4AI2pJu.jpg,1,golden_retriever,0.945523,True,Labrador_retriever,0.042319,True,doormat,0.003956,False
1453,776819012571455488,https://pbs.twimg.com/media/CW88XN4WsAAlo8r.jpg,3,Chihuahua,0.346545,True,dalmatian,0.166246,True,toy_terrier,0.117502,True
1456,777641927919427584,https://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg,1,golden_retriever,0.964929,True,Labrador_retriever,0.011584,True,refrigerator,0.007499,False
1463,778396591732486144,https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg,1,hippopotamus,0.581403,False,doormat,0.152445,False,sea_lion,0.026364,False
1476,780496263422808064,https://pbs.twimg.com/media/Ck2d7tJWUAEPTL3.jpg,1,pug,0.997310,True,Brabancon_griffon,0.001186,True,French_bulldog,0.000428,True
1487,782021823840026624,https://pbs.twimg.com/media/CdHwZd0VIAA4792.jpg,1,golden_retriever,0.383223,True,cocker_spaniel,0.165930,True,Chesapeake_Bay_retriever,0.118199,True
1495,783347506784731136,https://pbs.twimg.com/media/CVuQ2LeUsAAIe3s.jpg,1,Cardigan,0.611525,True,Pembroke,0.368566,True,Chihuahua,0.003330,True
1510,786036967502913536,https://pbs.twimg.com/media/CtKHLuCWYAA2TTs.jpg,1,golden_retriever,0.993830,True,cocker_spaniel,0.003143,True,Great_Pyrenees,0.000917,True
1522,788070120937619456,https://pbs.twimg.com/media/Co-hmcYXYAASkiG.jpg,1,golden_retriever,0.735163,True,Sussex_spaniel,0.064897,True,Labrador_retriever,0.047704,True
1538,790723298204217344,https://pbs.twimg.com/media/CvaYgDOWgAEfjls.jpg,1,tub,0.479477,False,bathtub,0.325106,False,golden_retriever,0.078530,True
1541,791026214425268224,https://pbs.twimg.com/media/CpmyNumW8AAAJGj.jpg,1,malamute,0.375098,True,jean,0.069362,False,keeshond,0.050528,True
1564,793614319594401792,https://pbs.twimg.com/media/CvyVxQRWEAAdSZS.jpg,1,golden_retriever,0.705092,True,Labrador_retriever,0.219721,True,kuvasz,0.015965,True
1569,794355576146903043,https://pbs.twimg.com/media/CvJCabcWgAIoUxW.jpg,1,cocker_spaniel,0.500509,True,golden_retriever,0.272734,True,jigsaw_puzzle,0.041476,False
1571,794983741416415232,https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg,3,schipperke,0.363272,True,kelpie,0.197021,True,Norwegian_elkhound,0.151024,True
1579,796177847564038144,https://pbs.twimg.com/media/Cwx99rpW8AMk_Ie.jpg,1,golden_retriever,0.600276,True,Labrador_retriever,0.140798,True,seat_belt,0.087355,False
1588,798340744599797760,https://pbs.twimg.com/media/CrXhIqBW8AA6Bse.jpg,1,papillon,0.533180,True,collie,0.192031,True,Border_collie,0.121626,True
1589,798628517273620480,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,1,beagle,0.636169,True,Labrador_retriever,0.119256,True,golden_retriever,0.082549,True
1590,798644042770751489,https://pbs.twimg.com/media/CU3mITUWIAAfyQS.jpg,1,English_springer,0.403698,True,Brittany_spaniel,0.347609,True,Welsh_springer_spaniel,0.137186,True
1591,798665375516884993,https://pbs.twimg.com/media/CVMOlMiWwAA4Yxl.jpg,1,chow,0.243529,True,hamster,0.227150,False,Pomeranian,0.056057,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1619,802624713319034886,https://pbs.twimg.com/media/CsrjryzWgAAZY00.jpg,1,cocker_spaniel,0.253442,True,golden_retriever,0.162850,True,otterhound,0.110921,True
1624,803692223237865472,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True
1627,804413760345620481,https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg,1,chow,0.090341,True,binoculars,0.083499,False,Irish_setter,0.077456,True
1634,805958939288408065,https://pbs.twimg.com/media/CtzKC7zXEAALfSo.jpg,1,Irish_setter,0.574557,True,golden_retriever,0.339251,True,seat_belt,0.046108,False
1636,806242860592926720,https://pbs.twimg.com/media/Ct72q9jWcAAhlnw.jpg,2,Cardigan,0.593858,True,Shetland_sheepdog,0.130611,True,Pembroke,0.100842,True
1640,807059379405148160,https://pbs.twimg.com/media/Ct2qO5PXEAE6eB0.jpg,1,seat_belt,0.474292,False,golden_retriever,0.171393,True,Labrador_retriever,0.110592,True
1645,808134635716833280,https://pbs.twimg.com/media/Cx5R8wPVEAALa9r.jpg,1,cocker_spaniel,0.740220,True,Dandie_Dinmont,0.061604,True,English_setter,0.041331,True
1652,809808892968534016,https://pbs.twimg.com/media/CwS4aqZXUAAe3IO.jpg,1,Labrador_retriever,0.861651,True,golden_retriever,0.044462,True,Staffordshire_bullterrier,0.016497,True
1683,813944609378369540,https://pbs.twimg.com/media/Cveg1-NXgAASaaT.jpg,1,Labrador_retriever,0.427742,True,Great_Dane,0.190503,True,curly-coated_retriever,0.146427,True
1693,816014286006976512,https://pbs.twimg.com/media/CiibOMzUYAA9Mxz.jpg,1,English_setter,0.677408,True,Border_collie,0.052724,True,cocker_spaniel,0.048572,True
1699,816829038950027264,https://pbs.twimg.com/media/CvoBPWRWgAA4het.jpg,1,dishwasher,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True
1703,817181837579653120,https://pbs.twimg.com/ext_tw_video_thumb/81596...,1,Tibetan_mastiff,0.506312,True,Tibetan_terrier,0.295690,True,otterhound,0.036251,True
1712,818588835076603904,https://pbs.twimg.com/media/Crwxb5yWgAAX5P_.jpg,1,Norwegian_elkhound,0.372202,True,Chesapeake_Bay_retriever,0.137187,True,malamute,0.071436,True
1717,819015331746349057,https://pbs.twimg.com/media/C12x-JTVIAAzdfl.jpg,4,prison,0.907083,False,palace,0.020089,False,umbrella,0.007850,False
1718,819015337530290176,https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg,1,standard_poodle,0.351308,True,toy_poodle,0.271929,True,Tibetan_terrier,0.094759,True
1727,820446719150292993,https://pbs.twimg.com/media/CxqsX-8XUAAEvjD.jpg,3,golden_retriever,0.938048,True,kuvasz,0.025119,True,Labrador_retriever,0.022977,True
1736,821813639212650496,https://pbs.twimg.com/media/CtVAvX-WIAAcGTf.jpg,1,Saint_Bernard,0.995143,True,Cardigan,0.003044,True,English_springer,0.001050,True
1742,822647212903690241,https://pbs.twimg.com/media/C2oRbOuWEAAbVSl.jpg,1,Samoyed,0.416769,True,malamute,0.252706,True,kuvasz,0.157028,True
1746,823269594223824897,https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg,1,Samoyed,0.585441,True,Pomeranian,0.193654,True,Arctic_fox,0.071648,False
1755,824796380199809024,https://pbs.twimg.com/media/CwiuEJmW8AAZnit.jpg,2,gas_pump,0.676439,False,harvester,0.049995,False,swing,0.044660,False
1789,829878982036299777,https://pbs.twimg.com/media/C3nygbBWQAAjwcW.jpg,1,golden_retriever,0.617389,True,Labrador_retriever,0.337053,True,tennis_ball,0.008554,False
1803,832040443403784192,https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg,1,miniature_pinscher,0.796313,True,Chihuahua,0.155413,True,Staffordshire_bullterrier,0.030943,True
1804,832215726631055365,https://pbs.twimg.com/media/CwJR1okWIAA6XMp.jpg,1,Afghan_hound,0.274637,True,borzoi,0.142204,True,doormat,0.109677,False
1858,841833993020538882,https://pbs.twimg.com/ext_tw_video_thumb/81742...,1,ice_bear,0.336200,False,Samoyed,0.201358,True,Eskimo_dog,0.186789,True
1864,842892208864923648,https://pbs.twimg.com/ext_tw_video_thumb/80710...,1,Chihuahua,0.505370,True,Pomeranian,0.120358,True,toy_terrier,0.077008,True
1903,851953902622658560,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1,Staffordshire_bullterrier,0.757547,True,American_Staffordshire_terrier,0.149950,True,Chesapeake_Bay_retriever,0.047523,True
1944,861769973181624320,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,0.209852,False,cocker_spaniel,0.046403,True
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True

In [39]:
# Investigating deeper for duplicates
# Conditionally select records for one of the jpg_url
df_predictions[df_predictions['jpg_url'] == 'https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
591,679158373988876288,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,pug,0.272205,True,bull_mastiff,0.25153,True,bath_towel,0.116806,False
1315,754874841593970688,https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg,1,pug,0.272205,True,bull_mastiff,0.25153,True,bath_towel,0.116806,False

In [40]:
# Conditionally select records for another jpg_url
df_predictions[df_predictions['jpg_url'] == 'https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.05495,True,beagle,0.038915,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.05495,True,beagle,0.038915,True

In [41]:
# Conditionally select records for another jpg_url
df_predictions[df_predictions['jpg_url'] == 'https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1405,769940425801170949,https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg,1,miniature_pinscher,0.796313,True,Chihuahua,0.155413,True,Staffordshire_bullterrier,0.030943,True
1803,832040443403784192,https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg,1,miniature_pinscher,0.796313,True,Chihuahua,0.155413,True,Staffordshire_bullterrier,0.030943,True

> We can confirm that these are truly duplicate records. They have the exact same information.

In [42]:
# View a random sample of DataFrame
df_predictions.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
677,683481228088049664,https://pbs.twimg.com/media/CXw2jSpWMAAad6V.jpg,1,keeshond,0.508951,True,chow,0.442016,True,German_shepherd,0.013206,True
2024,881666595344535552,https://pbs.twimg.com/media/DDxPFwbWAAEbVVR.jpg,1,Saluki,0.529012,True,Afghan_hound,0.250003,True,golden_retriever,0.160739,True
300,671488513339211776,https://pbs.twimg.com/media/CVGbPgrWIAAQ1fB.jpg,1,hermit_crab,0.528761,False,snail,0.185644,False,shower_curtain,0.066361,False
1891,849051919805034497,https://pbs.twimg.com/media/C8hwNxbXYAAwyVG.jpg,1,fountain,0.997509,False,American_black_bear,0.001413,False,sundial,0.000681,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,0.112846,False,convertible,0.086252,False

> The values in columns `p1`, `p2`, `p3` are inconsitent and there are inapproprate use of underbars.

### Accessing api DataFrame for quality issues

In [43]:
# Check the dimensionality of the DataFrame
df_api.shape

(873, 3)

In [44]:
# Get the first few rows of the DataFrame
df_api.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           6996           33771
1  892177421306343426           5297           29295
2  891815181378084864           3476           22029
3  891689557279858688           7210           36864
4  891327558926688256           7750           35249

In [45]:
# Get concise summary of the DataFrame
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 3 columns):
tweet_id          873 non-null int64
retweet_count     873 non-null int64
favorite_count    873 non-null int64
dtypes: int64(3)
memory usage: 20.5 KB

In [46]:
# Get descriptive statistics of the DataFrame
df_api.describe()

           tweet_id  retweet_count  favorite_count
count  8.730000e+02     873.000000      873.000000
mean   8.201381e+17    4346.108820    12978.088202
std    3.687956e+16    4892.892371    13592.427774
min    7.588287e+17       1.000000        0.000000
25%    7.895992e+17    1804.000000     4995.000000
50%    8.185365e+17    2968.000000     9906.000000
75%    8.482121e+17    5089.000000    18250.000000
max    8.924206e+17   51603.000000   123901.000000

> From the two reports above, we see that `tweet_id` columns is an int64 data type but it will never be used to perform any calculation. Thus, it should be considered as incorrect data type.

### Asessing Archive DataFrame for tidyness issues

In [47]:
# Display the first few records
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

> Looking at the `doggo`, `floofer`, `pupper`, `puppo` columns, we see that they are actually values not variable names. So we will have a new column that will take all four of them as values.

### Assessing predictions DataFrame for tidyness issues

In [48]:
# Display the first few records
df_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

> This table after being cleaned has no tidyness issues. It meets all the three requirements for a tidy data. 
    * Each variable forms a column
    * Each observation forms a row
    * Each type of observational unit forms a table

### Assessing API DataFrame for tidyness issues

In [49]:
# Display first few records
df_api.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           6996           33771
1  892177421306343426           5297           29295
2  891815181378084864           3476           22029
3  891689557279858688           7210           36864
4  891327558926688256           7750           35249

> The DataFrame does not form an observational unit on its own while it satisfies the other two requirements. It would make sense for it to be joined with the archive table.

### Quality issues

####  ~ archive DataFrame
1. incorrect data type for `tweet_id`, `timestamp`, `retweet_status_timestamp` columns

2. tweet records with no images

3. some records are retweets

4. null values represnted as `None` in dog name and dog stage columns

5. dog names starting with small letters are erroneous

6. some values in the text column are uppercase

7. records beyond August 1st, 2017

#### ~ predictions DataFrame
8. incorrect data type for `tweet_id`, `img_num` columns

9. duplicate `jpg_url` records

10. inappropriate use of underbars and inconsistent cases in p1, p2, p3 columns

#### ~ api DataFrame
11. incorrect data type for `tweet_id` column

### Tidiness issues
1. the columns `doggo`, `floofer`, `pupper`, `puppo` are values not variable names

2. data from the Tweeter API is the same observational unit with the archive data frame

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [50]:
# Make copies of original pieces of data
archive_copy = df_archive.copy()
predictions_copy = df_predictions.copy()
api_copy = df_api.copy()

## Quality Issues

Here, all the 11 quality issues found in the above documentation will be cleaned

### Issue #1:

Incorrect data type for `tweet_id`, `timestamp` and `retweet_status_timestamp` columns in archive DataFrame

#### Define
- Convert `tweet_id` column to object data type using `astype` method.
- Convert `timestamp` and `retweet_status_timestamp` columns to datetime data type using pandas `to_datetime` method.

#### Code

In [51]:
# Convert data type to object
archive_copy.tweet_id = archive_copy['tweet_id'].astype(str)

In [52]:
# Convert data type to datetime
archive_copy.timestamp = pd.to_datetime(archive_copy.timestamp)
archive_copy.retweeted_status_timestamp = pd.to_datetime(archive_copy.retweeted_status_timestamp)

#### Test

In [53]:
# Get concise summary report
archive_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null object
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null datetime64[ns]
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](2), float64(4), int64(2), object(9)
memory usage: 313.0+ KB

### Issue #2:

Tweet records with no images

#### Define:
- Select records in the `expanded_urls` columns with `NaN` value

#### Code

In [54]:
# Conditionally select records
archive_copy = archive_copy[archive_copy['expanded_urls'].notnull()]

#### Test

In [55]:
# Check for isnull records on the expanded url column
sum(archive_copy.expanded_urls.isnull())

0

In [56]:
# Check the dimension of the dataframe
archive_copy.shape

(2297, 17)

### Issue #3:

Some records are retweets

#### Define
- Select all records with `NaN` value in the `tweeted_status_id` column

#### Code

In [57]:
# Select only records that have null values
archive_copy = archive_copy[archive_copy['retweeted_status_id'].isnull()]

#### Test

In [58]:
sum(archive_copy.retweeted_status_id.notnull())

0

In [59]:
# Check the dimension of the dataframe
archive_copy.shape

(2117, 17)

### Issue #4

Null values represnted as None in dog name and dog stage columns

#### Define
- Replace all `None` values in the `name`, `doggo`, `floofer`, `pupper`, `puppo` columns with `NaN`

In [60]:
archive_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2117 non-null object
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2117 non-null datetime64[ns]
source                        2117 non-null object
text                          2117 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2117 non-null object
rating_numerator              2117 non-null int64
rating_denominator            2117 non-null int64
name                          2117 non-null object
doggo                         2117 non-null object
floofer                       2117 non-null object
pupper                        2117 non-null object
puppo                         2117 non-null object
dtypes: datetime64[ns](2), float64(4), int64(2), object(9)
memory usage: 297.7+ KB

#### Code

In [61]:
# Replace each column with correct value
archive_copy.name = archive_copy.name.replace('None', np.nan)
archive_copy.doggo = archive_copy.doggo.replace('None', np.nan)
archive_copy.floofer = archive_copy.floofer.replace('None', np.nan)
archive_copy.pupper = archive_copy.pupper.replace('None', np.nan)
archive_copy.puppo = archive_copy.puppo.replace('None', np.nan)

#### Test

In [62]:
archive_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2117 non-null object
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2117 non-null datetime64[ns]
source                        2117 non-null object
text                          2117 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2117 non-null object
rating_numerator              2117 non-null int64
rating_denominator            2117 non-null int64
name                          1495 non-null object
doggo                         84 non-null object
floofer                       10 non-null object
pupper                        232 non-null object
puppo                         24 non-null object
dtypes: datetime64[ns](2), float64(4), int64(2), object(9)
memory usage: 297.7+ KB

In [75]:
# View a sample of the dataframe horning down into the last five columns
archive_copy.iloc[:, -5:].sample(5)

         name doggo floofer pupper puppo
1358  Charlie   NaN     NaN    NaN   NaN
1565     Kilo   NaN     NaN    NaN   NaN
2352        a   NaN     NaN    NaN   NaN
106    Lassie   NaN     NaN    NaN   NaN
516       Sam   NaN     NaN    NaN   NaN

In [76]:
# Select records with value None in name column
archive_copy[archive_copy['name'] == 'None']

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [77]:
# Select records with value floofer in name column
archive_copy[archive_copy['floofer'] == 'None']

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [78]:
# Select records with value None in puppo column
archive_copy[archive_copy['puppo'] == 'None']

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

### Issue #5

Dog names starting with small letters are erroneous. So here, all lowercase names will be replaced with `NaN` because they were erroneiusly picked by the algorithm.

#### Define
- Replace all lowercase names with `NaN`

#### Code

In [97]:
# Replace all lowercase values in the name column with `NaN`
archive_copy.name = archive_copy.name.replace(r'\b[a-z]', np.nan, regex=True)

#### Test

In [110]:
# Display a random sample of values in the name column 
archive_copy[archive_copy.name.notnull()].sample(5)['name']

452         Bear
1061    Theodore
1013     Atticus
1824     Griffin
92           Jed
Name: name, dtype: object

In [113]:
# Select records with value 'a' in name column
archive_copy[archive_copy['name'] == 'a']

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [114]:
# Select records with value 'the' in name column
archive_copy[archive_copy['name'] == 'the']

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [111]:
# Get concise summary of dataframe
archive_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2117 non-null object
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2117 non-null datetime64[ns]
source                        2117 non-null object
text                          2117 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null datetime64[ns]
expanded_urls                 2117 non-null object
rating_numerator              2117 non-null int64
rating_denominator            2117 non-null int64
name                          1391 non-null object
doggo                         84 non-null object
floofer                       10 non-null object
pupper                        232 non-null object
puppo                         24 non-null object
dtypes: datetime64[ns](2), float64(4), int64(2), object(9)
memory usage: 297.7+ KB

### Issue #6

Some values in the text column are uppercase.

#### Define
- Change the cases from uppercase to capitalize case.

#### Code

In [318]:
archive_copy.loc[:, ['tweet_id','text']].sample(5)

                tweet_id                                               text
2106  670468609693655041  This is Edd. He's a Czechoslovakian Googolplex...
1583  687102708889812993  Army of water dogs here. None of them know whe...
1815  676613908052996102  This is the saddest/sweetest/best picture I've...
2275  667453023279554560  Meet Cupcake. I would do unspeakable things fo...
487   814153002265309185  This is Oshie. He's ready to party. Bought tha...

In [222]:
# View all the content of the text column for a particular tweet_id
with pd.option_context("display.max_colwidth", -1):
    print(archive_copy[archive_copy['tweet_id'] == '699072405256409088']['text'])

1408    ERMAHGERD 12/10 please enjoy https://t.co/7WrAWKdBac
Name: text, dtype: object

In [223]:
# View all the content of the text column for a particular tweet_id
with pd.option_context("display.max_colwidth", -1):
    print(archive_copy[archive_copy['tweet_id'] == '838952994649550848']['text'])

283    SHE MISPLACED HER HOOMAN 13/10 MISTAKES HAPPEN https://t.co/ngAxYLVYHP
Name: text, dtype: object

In [304]:
# Change all values of the text column to capitalize case

# def capitalize_text(tweet):
#     if tweet['text'].str.extract(r'([A-Z])'):
#         return tweet['text'].str.capitalize()
#     else:
#         return tweet['text']
    
def cap_txt(tweet):
    return tweet['text'].capitalize()

archive_copy['text'] = archive_copy.apply(cap_txt, axis=1)

#### Test

In [319]:
archive_copy3.loc[:, ['tweet_id','text']].sample(5)

                tweet_id                                               text
572   801285448605831168              Oh h*ck 10/10 https://t.co/bc69rrw559
1090  737678689543020544  We only rate dogs. pls stop sending in non-can...
2073  670995969505435648  Yea i can't handle this job anymore your dogs ...
1396  699788877217865730  Say hello to nala. she's a freckled high brusc...
2002  672481316919734272  Say hello to jazz. she should be on the cover ...

In [306]:
# View all the content of the text column for a particular tweet_id
with pd.option_context("display.max_colwidth", -1):
    print(archive_copy[archive_copy['tweet_id'] == '838952994649550848']['text'])

283    She misplaced her hooman 13/10 mistakes happen https://t.co/ngaxylvyhp
Name: text, dtype: object

In [307]:
archive_copy[archive_copy['tweet_id'] == '699072405256409088']['text']

1408    Ermahgerd 12/10 please enjoy https://t.co/7wra...
Name: text, dtype: object

### Issue #7

There are records beyond August 1st, 2017

#### Define
- records beyond August 1st, 2017

#### Code

In [320]:
# Select records that have timestap < August 1st, 2017
archive_copy = archive_copy[archive_copy['timestamp'] < '2017-08-01']

#### Test

In [322]:
# Select records beyond August 1st, 2017
len(archive_copy[archive_copy['timestamp'] > '2017-08-01'])

0

### Issue #8

Incorrect data type for `tweet_id`, `img_num` columns in the predictions DataFrame

#### Define
- Convert `tweet_id` column to object data type using `astype` method.
- Convert `img_num` column to category data type using pandas `astype` method.

#### Code

In [369]:
# Convert data type to object
predictions_copy.tweet_id = predictions_copy['tweet_id'].astype(str)

In [370]:
# Convert data type to category
predictions_copy.img_num = predictions_copy['img_num'].astype('category')

#### Test

In [371]:
# Get concise summary of the DataFrame
predictions_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null category
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), category(1), float64(3), object(5)
memory usage: 138.1+ KB

### Issue #9

Duplicate `jpg_url` records in the predictions DataFrame

#### Define
- Remove the duplicated records from the DataFrame using the `drop_duplicates` method

#### Code

In [372]:
# Remove rows that are duplicates using the `jpg_url` column
predictions_copy.drop_duplicates(subset=['jpg_url'], inplace=True)

#### Test

In [373]:
# Checking for duplicate records
predictions_copy[predictions_copy.jpg_url.duplicated()]

Empty DataFrame
Columns: [tweet_id, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog]
Index: []

In [374]:
# Get concise summary of the DataFrame
predictions_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2009 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2009 non-null object
jpg_url     2009 non-null object
img_num     2009 non-null category
p1          2009 non-null object
p1_conf     2009 non-null float64
p1_dog      2009 non-null bool
p2          2009 non-null object
p2_conf     2009 non-null float64
p2_dog      2009 non-null bool
p3          2009 non-null object
p3_conf     2009 non-null float64
p3_dog      2009 non-null bool
dtypes: bool(3), category(1), float64(3), object(5)
memory usage: 149.3+ KB

### Issue #10

Inappropriate use of underbars and inconsistent cases in `p1`, `p2`, `p3` columns in predictions DataFrame

#### Define
- Change all values to lower case
- Replace all `_` with spaces

#### Code

In [375]:
# Change all values of the p1, p2, p3 columns to capitalize case
predictions_copy['p1'] = predictions_copy['p1'].str.lower()
predictions_copy['p2'] = predictions_copy['p2'].str.lower()
predictions_copy['p3'] = predictions_copy['p3'].str.lower()

In [387]:
# Replace all `_` with spaces
predictions_copy.p1 = predictions_copy.p1.str.replace('_', ' ')
predictions_copy.p2 = predictions_copy.p2.str.replace('_', ' ')
predictions_copy.p3 = predictions_copy.p3.str.replace('_', ' ')

#### Test

In [394]:
# Display random sample of dataframe
predictions_copy.loc[:, ['p1','p2','p3']].sample(5)

                     p1                p2                           p3
1715    standard poodle        toy poodle              tibetan terrier
676   italian greyhound           whippet  german short-haired pointer
606                 hog               hay                   lumbermill
1800         bloodhound        great dane                     leonberg
1457     cocker spaniel  golden retriever                   otterhound

### Issue #11

Incorrect data type for `tweet_id` column in api dataframe

#### Define
- Convert `tweet_id` column to object data type using `astype` method.

#### Code

In [395]:
# Convert data type to object
api_copy.tweet_id = api_copy['tweet_id'].astype(str)

#### Test

In [396]:
# Get concise summary of the DataFrame
api_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 3 columns):
tweet_id          873 non-null object
retweet_count     873 non-null int64
favorite_count    873 non-null int64
dtypes: int64(2), object(1)
memory usage: 20.5+ KB

## Tidiness Issue

Here, all the tidiness issues documented above will be cleaned

### Issue #1

The columns `doggo`, `floofer`, `pupper`, `puppo` are are values not variable names

#### Define
- Unpivot the columns `doggo`, `floofer`, `pupper`, `puppo` into values of a new column `dog_stage` using the `melt` method

#### Code

In [411]:
id_vars = list(archive_copy)
id_vars

['expanded_urls',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'name',
 'rating_denominator',
 'rating_numerator',
 'retweeted_status_id',
 'retweeted_status_timestamp',
 'retweeted_status_user_id',
 'source',
 'text',
 'timestamp',
 'tweet_id',
 'dog_stage',
 'stage']

In [408]:
archive_copy = pd.melt(archive_copy, id_vars=id_vars, var_name='dog_stage', value_name='stage')

#### Test

In [409]:
archive_copy

,expanded_urls,in_reply_to_status_id,in_reply_to_user_id,name,rating_denominator,rating_numerator,retweeted_status_id,retweeted_status_timestamp,retweeted_status_user_id,source,text,timestamp,tweet_id,dog_stage,stage
0,https://twitter.com/dog_rates/status/891815181...,NaN,NaN,Archie,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,2017-07-31 00:18:03,891815181378084864,dog_stage,doggo
1,https://twitter.com/dog_rates/status/891689557...,NaN,NaN,Darla,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,2017-07-30 15:58:51,891689557279858688,dog_stage,doggo
2,https://twitter.com/dog_rates/status/891327558...,NaN,NaN,Franklin,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,2017-07-29 16:00:24,891327558926688256,dog_stage,doggo
3,https://twitter.com/dog_rates/status/891087950...,NaN,NaN,NaN,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,2017-07-29 00:08:17,891087950875897856,dog_stage,doggo
4,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",NaN,NaN,Jax,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,2017-07-28 16:27:12,890971913173991426,dog_stage,doggo
5,https://twitter.com/dog_rates/status/890729181...,NaN,NaN,NaN,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,2017-07-28 00:22:40,890729181411237888,dog_stage,doggo
6,https://twitter.com/dog_rates/status/890609185...,NaN,NaN,Zoey,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,2017-07-27 16:25:51,890609185150312448,dog_stage,doggo
7,https://twitter.com/dog_rates/status/890240255...,NaN,NaN,Cassie,10,14,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,2017-07-26 15:59:51,890240255349198849,dog_stage,doggo
8,https://twitter.com/dog_rates/status/890006608...,NaN,NaN,Koda,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,2017-07-26 00:31:25,890006608113172480,dog_stage,doggo
9,https://twitter.com/dog_rates/status/889880896...,NaN,NaN,Bruno,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,2017-07-25 16:11:53,889880896479866881,dog_stage,doggo
10,https://twitter.com/dog_rates/status/889665388...,NaN,NaN,NaN,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,2017-07-25 01:55:32,889665388333682689,dog_stage,doggo
11,https://twitter.com/dog_rates/status/889638837...,NaN,NaN,Ted,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,2017-07-25 00:10:02,889638837579907072,dog_stage,doggo
12,https://twitter.com/dog_rates/status/889531135...,NaN,NaN,Stuart,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,2017-07-24 17:02:04,889531135344209921,dog_stage,doggo
13,https://twitter.com/dog_rates/status/889278841...,NaN,NaN,Oliver,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,2017-07-24 00:19:32,889278841981685760,dog_stage,doggo
14,https://twitter.com/dog_rates/status/888917238...,NaN,NaN,Jim,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,2017-07-23 00:22:39,888917238123831296,dog_stage,doggo
15,https://twitter.com/dog_rates/status/888804989...,NaN,NaN,Zeke,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,2017-07-22 16:56:37,888804989199671297,dog_stage,doggo
16,https://twitter.com/dog_rates/status/888554962...,NaN,NaN,Ralphus,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,2017-07-22 00:23:06,888554962724278272,dog_stage,doggo
17,https://twitter.com/dog_rates/status/888078434...,NaN,NaN,Gerald,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,2017-07-20 16:49:33,888078434458587136,dog_stage,doggo
18,https://twitter.com/dog_rates/status/887705289...,NaN,NaN,Jeffrey,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,2017-07-19 16:06:48,887705289381826560,dog_stage,doggo
19,https://twitter.com/dog_rates/status/887517139...,NaN,NaN,NaN,10,14,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,2017-07-19 03:39:09,887517139158093824,dog_stage,doggo
20,https://twitter.com/dog_rates/status/887473957...,NaN,NaN,Canela,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,2017-07-19 00:47:34,887473957103951883,dog_stage,doggo
21,https://twitter.com/dog_rates/status/887343217...,NaN,NaN,NaN,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,2017-07-18 16:08:03,887343217045368832,dog_stage,doggo
22,https://twitter.com/dog_rates/status/887101392...,NaN,NaN,NaN,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,2017-07-18 00:07:08,887101392804085760,dog_stage,doggo
23,https://twitter.com/dog_rates/status/886983233...,NaN,NaN,Maya,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,2017-07-17 16:17:36,886983233522544640,dog_stage,doggo
24,"https://www.gofundme.com/mingusneedsus,https:/...",NaN,NaN,Mingus,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,2017-07-16 23:58:41,886736880519319552,dog_stage,doggo
25,https://twitter.com/dog_rates/status/886680336...,NaN,NaN,Derek,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,2017-07-16 20:14:00,886680336477933568,dog_stage,doggo
26,https://twitter.com/dog_rates/status/886366144...,NaN,NaN,Roscoe,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,2017-07-15 23:25:31,886366144734445568,dog_stage,doggo
27,https://twitter.com/dog_rates/status/886258384...,NaN,NaN,Waffles,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Waffles. His doggles are pupside down....,2017-07-15 16:17:19,886258384151887873,dog_stage,doggo
28,https://twitter.com/dog_rates/status/885984800...,NaN,NaN,Jimbo,10,12,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Viewer discretion advised. This is Jimbo. He w...,2017-07-14 22:10:11,885984800019947520,dog_stage,doggo
29,https://twitter.com/dog_rates/status/885528943...,NaN,NaN,Maisey,10,13,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Maisey. She fell asleep mid-excavation...,2017-07-13 15:58:47,885528943205470208,dog_stage,doggo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16890,https://twitter.com/dog_rates/status/666411507...,NaN,NaN,NaN,10,2,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,2015-11-17 00:24:19,666411507551481857,value,NaN
16891,https://twitter.com/dog_rates/status/666407126...,NaN,NaN,NaN,10,7,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,2015-11-17 00:06:54,666407126856765440,value,NaN
16892,https://twitter.com/dog_rates/status/666396247...,NaN,NaN,NaN,10,9,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,2015-11-16 23:23:41,666396247373291520,value,NaN
16893,https://twitter.com/dog_rates/status/666373753...,NaN,NaN,NaN,10,11,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,2015-11-16 21:54:18,666373753744588802,value,NaN
16894,https://twitter.com/dog_rates/status/666362758...,NaN,NaN,NaN,10,6,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,2015-11-16 21:10:36,666362758909284353,value,NaN
16895,https://twitter.com/dog_rates/status/666353288...,NaN,NaN,NaN,10,8,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,2015-11-16 20:32:58,666353288456101888,value,NaN
16896,https://twitter.com/dog_rates/status/666345417...,NaN,NaN,NaN,10,10,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,2015-11-16 20:01:42,666345417576210432,value,NaN
16897,https://twitter.com/dog_rates/status/666337882...,NaN,NaN,NaN,10,9,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,2015-11-16 19:31:45,666337882303524864,value,NaN
16898,https://twitter.com/dog_rates/status/666293911...,NaN,NaN,NaN,10,3,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,2015-11-16 16:37:02,666293911632134144,value,NaN
16899,https://twitter.com/dog_rates/status/666287406...,NaN,NaN,NaN,2,1,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,2015-11-16 16:11:11,666287406224695296,value,NaN
16900,https://twitter.com/dog_rates/status/666273097...,NaN,NaN,NaN,10,11,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,2015-11-16 15:14:19,666273097616637952,value,NaN
16901,https://twitter.com/dog_rates/status/666268910...,NaN,NaN,NaN,10,10,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,2015-11-16 14:57:41,666268910803644416,value,NaN
16902,https://twitter.com/dog_rates/status/666104133...,NaN,NaN,NaN,10,1,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,2015-11-16 04:02:55,666104133288665088,value,NaN
16903,https://twitter.com/dog_rates/status/666102155...,NaN,NaN,NaN,10,11,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,2015-11-16 03:55:04,666102155909144576,value,NaN
16904,https://twitter.com/dog_rates/status/666099513...,NaN,NaN,NaN,10,8,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,2015-11-16 03:44:34,666099513787052032,value,NaN
16905,https://twitter.com/dog_rates/status/666094000...,NaN,NaN,NaN,10,9,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,2015-11-16 03:22:39,666094000022159362,value,NaN
16906,https://twitter.com/dog_rates/status/666082916...,NaN,NaN,NaN,10,6,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,2015-11-16 02:38:37,666082916733198337,value,NaN
16907,https://twitter.com/dog_rates/status/666073100...,NaN,NaN,NaN,10,10,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,2015-11-16 01:59:36,666073100786774016,value,NaN
16908,https://twitter.com/dog_rates/status/666071193...,NaN,NaN,NaN,10,9,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,2015-11-16 01:52:02,666071193221509120,value,NaN
16909,https://twitter.com/dog_rates/status/666063827...,NaN,NaN,NaN,10,10,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,2015-11-16 01:22:45,666063827256086533,value,NaN
16910,https://twitter.com/dog_rates/status/666058600...,NaN,NaN,NaN,10,8,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,2015-11-16 01:01:59,666058600524156928,value,NaN
16911,https://twitter.com/dog_rates/status/666057090...,NaN,NaN,NaN,10,9,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,2015-11-16 00:55:59,666057090499244032,value,NaN
16912,https://twitter.com/dog_rates/status/666055525...,NaN,NaN,NaN,10,10,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,2015-11-16 00:49:46,666055525042405380,value,NaN
16913,https://twitter.com/dog_rates/status/666051853...,NaN,NaN,NaN,10,2,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,2015-11-16 00:35:11,666051853826850816,value,NaN
16914,https://twitter.com/dog_rates/status/666050758...,NaN,NaN,NaN,10,10,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,2015-11-16 00:30:50,666050758794694657,value,NaN
16915,https://twitter.com/dog_rates/status/666049248...,NaN,NaN,NaN,10,5,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,2015-11-16 00:24:50,666049248165822465,value,NaN
16916,https://twitter.com/dog_rates/status/666044226...,NaN,NaN,NaN,10,6,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,2015-11-16 00:04:52,666044226329800704,value,NaN
16917,https://twitter.com/dog_rates/status/666033412...,NaN,NaN,NaN,10,9,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,2015-11-15 23:21:54,666033412701032449,value,NaN
16918,https://twitter.com/dog_rates/status/666029285...,NaN,NaN,NaN,10,7,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,2015-11-15 23:05:30,666029285002620928,value,NaN
16919,https://twitter.com/dog_rates/status/666020888...,NaN,NaN,NaN,10,8,NaN,NaT,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,2015-11-15 22:32:08,666020888022790149,value,NaN

### Issue #2

#### Define
- data from the Tweeter API is the same observational unit with the archive data frame

#### Code

#### Test

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1.

2.

3.

### Visualization